<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app">
      {{ buyItems }}
      <table v-bind:style="{width: '100%', textAlign: 'center'}">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td><input v-model="buyItems[product.id]" type="number" min="0" max="100" name=""></td>
          </tr>
        </tbody>
      </table>

      <div>
        <button @click="ECPAY">綠界支付</button>
        <div id="paypal-area"></div>
      </div>
      <div v-html="ecpayHtml"></div>
    </div>
  </body>

  <script src="https://www.paypal.com/sdk/js?client-id=<%= paypal_client_id %>"></script>
  <script src="
    https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.min.js
  "></script>
  <script src='/javascripts/index.js'></script>
</html>
